# Python Tutorial

### Python First Program

In [1]:
print("Hi, I am in Navi Mumbai. DateTime 15-06-2021 11.11 PM")

Hi, I am in Navi Mumbai. DateTime 15-06-2021 11.11 PM

### Variables in Python

In [2]:
#Data or values can be stored in a temprary storage space called variables.
#Variable has a name and a address where the values are stored.
#Example.

student1 = "John"

In [3]:
print(student1)

John

In [4]:
#A variable can be updated with new variable
student1 = "Sam"
print(student1)

Sam

In [5]:
student1 = "Ram"
print(student1)

Ram

### Data Types in Python

##### Every variable is associated with a data type
1. Int - 10, 500, 20001
2. Float - 10.20, 34.123, 3.14
3. String - "India", "Satya"
4. Boolean - True , False
5. Complex - 3 + 4j , 5 - 7j (3  is real, 4j is imaginary part in this complex number)

Variable data type depends upon the kind of data stored in the variable

In [6]:
a1 = 10
print(a1)
print(type(a1))

10
<class 'int'>

In [7]:
a1 = 3.14 
print(a1)
print(type(a1))

3.14
<class 'float'>

In [8]:
a1 = "Mumbai"
print(a1)
print(type(a1))

Mumbai
<class 'str'>

In [9]:
a1 = True
print(a1)
print(type(a1))

True
<class 'bool'>

In [10]:
a1 = 3 + 4j
print(a1)
print(type(a1))

(3+4j)
<class 'complex'>

### Operator in Python

##### With the help of operator, we can apply different kind of operation on the data.
1. Arithmatic Operator
2. Relational Operator
3. Logical Operator

In [11]:
# Arithmatic Operators: +, -, /, *
a1 = 10 
b1 = 20 
print("Print Variables:",a1,b1)

print("Plus Operator: + : ",a1+b1)
print("Minus Operator: - : ",a1-b1)
print("Division Operator: / : ",a1/b1)
print("Multiplication Operator: * : ",a1*b1)

Print Variables: 10 20
Plus Operator: + :  30
Minus Operator: - :  -10
Division Operator: / :  0.5
Multiplication Operator: * :  200

In [12]:
# Relation Operator: <, >, ==, !=
# Result of Relation Operator is always Boolean

a2 = 50 
b2 = 100
print("Print Variable", a2, b2)

print("Greater Than Operator:", a2>b2)
print("Less Than Operator:", a2<b2)
print("Equal to Operator:", a2==b2)
print("Not Equal to Operator:", a2!=b2)

Print Variable 50 100
Greater Than Operator: False
Less Than Operator: True
Equal to Operator: False
Not Equal to Operator: True

In [13]:
# Logical Operator: &, |
a3 = True
b3 = False
print("Print Variable", a3 , b3)

print("And Operator &: ", a3 & b3) # If both variable will be true then output will be true else false
print("Or Operator |: ", a3 | b3) # If any of the variable is true then output will be true else false

Print Variable True False
And Operator &:  False
Or Operator |:  True

### Python Token

##### They are the smallest meaningful component in python 
1. Keywords
2. Operators
3. Identifiers
4. Literals

In [14]:
'''
Keywords - They are the special reserved word in python. You can not use them declare variable, class or methods.
Example
True
for 
def
While
as
return
try
'''

'\nKeywords - They are the special reserved word in python. You can not use them declare variable, class or methods.\nExample\nTrue\nfor \ndef\nWhile\nas\nreturn\ntry\n'

In [15]:
# Identifier: Used as names of variables, functions or objects
# Rules - no special character can be used other than _. They are case sensitive. First letter can not be digit.

In [16]:
# Literals - They are constants in python that do not change. Values which are stored in a variable are nothing but literal
# Exmaple

a4 = 10.20
print(a4)

10.2

### Python String

In [17]:
# String are the sequence of characters enclosed in single, double and triple quotes('',"",'""')
# When it is required to write multiline string triple quote strings are used

In [18]:
print('Hello Navi Mumbai')

Hello Navi Mumbai

In [19]:
print("Hello Mumbai")

Hello Mumbai

In [20]:
print('''Hello Mumbai. 
Hello Navi Mumbai''') # multiline string

Hello Mumbai.
Hello Navi Mumbai

In [21]:
# Extracting String From the String

In [22]:
str1 = 'My name is Mahesh Satyanarayan Sharma'

In [23]:
str1

'My name is Mahesh Satyanarayan Sharma'

In [24]:
# Extracting String Using Index
# Python index start with 0 

print(str1[0]) # First Index
print(str1[1]) # Second position character in a string

M
y

In [25]:
str1[-1] # Last Index

'a'

In [26]:
# This gives second last index position character
print(str1[len(str1)-2])
print(str1[len(str1)-1])

m
a

In [27]:
# printing my name verically
for i in range(0,(len(str1))):
    print(str1[i])

M
y

n
a
m
e

i
s

M
a
h
e
s
h

S
a
t
y
a
n
a
r
a
y
a
n

S
h
a
r
m
a

In [28]:
# String Operation/ Functions

In [29]:
# finding length of my string
print(str1)
print('Length of mu string is',len(str1))

My name is Mahesh Satyanarayan Sharma
Length of mu string is 37

In [30]:
# Converting my string in lower case
str1.lower()

'my name is mahesh satyanarayan sharma'

In [31]:
# Converting my string to upper case
str1.upper()

'MY NAME IS MAHESH SATYANARAYAN SHARMA'

In [32]:
# Replace new value with old value in string
print(str1)

#Replace y with e
# syntax --> string.replace('old value', 'new value')
str2 = str1.replace('y','e')

My name is Mahesh Satyanarayan Sharma

In [33]:
print(str1)
print(str2)

My name is Mahesh Satyanarayan Sharma
Me name is Mahesh Sateanaraean Sharma

In [34]:
# Find the occurance of any value in a string
print(str1.count('a'))
print(str2.count('e'))

9
5

In [35]:
# Finding out the index of an string

# This given me start index of the words in the string
print(str1.find('Sharma')) 

# Substrings - First Characters Index Value
print(str1.find('name'))

# you can also find index position of a characters first occurance
print(str1.find('M'))

31
3
0

In [36]:
# Splitting of String into different part/List values
str3 = "Hello, My name is Mahesh, Age 30, Living in Mumbai"

In [37]:
str3

'Hello, My name is Mahesh, Age 30, Living in Mumbai'

In [38]:
# Spliting string by comma ','
str3.split(',')

['Hello', ' My name is Mahesh', ' Age 30', ' Living in Mumbai']

In [39]:
str4 = 'My name - Mahesh - Age 31 - Mumbai' 
print(str4.split('-')) # This will split this entire string by hypen '-'

['My name ', ' Mahesh ', ' Age 31 ', ' Mumbai']

In [40]:
str5 = str4.split('-')

In [41]:
str5

['My name ', ' Mahesh ', ' Age 31 ', ' Mumbai']

### Data Structure in Python

##### There are mainly four data structure in Python
1. List
2. Tuple
3. Set
4. Dictionary

##### The above data structures are used when there is need to stored many heterogeneous elements together

#### Tuple()

1. Tuple is an ordered collection of elements enclosed within ()
2. Tuples are immutable in nature i.e. once created can not be modified, you have to recreate them

In [42]:
# example
tuple1 = (1, True, 3.14, 5 + 3j)

In [43]:
tuple1

(1, True, 3.14, (5+3j))

In [44]:
type(tuple1)

tuple

In [45]:
#Extracting elements from tuple using index position
print(tuple1[0])
print(tuple1[2])
print(tuple1[-1])

1
3.14
(5+3j)

In [46]:
# extracting sequence of elements from tuple 
print(tuple1[2:3]) #start index included and end index postition excluded

(3.14,)

In [47]:
print(tuple1[0:3]) #(start included which is 0 and 1 position, 2 position include however 3 position exclued)

(1, True, 3.14)

In [48]:
# modification - you can not modify tuple once created 
# example - tuple doesnt support assigment. i.e. it cannot be modified
''' 
tuple1[2]="Nerul"
'''

' \ntuple1[2]="Nerul"\n'

In [49]:
# concatnating tuple 
print(tuple1)
tuple2 = ("ABC", 300, 2.1)
print(tuple2)

(1, True, 3.14, (5+3j))
('ABC', 300, 2.1)

In [50]:
tuple3  = tuple1 + tuple2

In [51]:
tuple3

(1, True, 3.14, (5+3j), 'ABC', 300, 2.1)

In [52]:
# find length of a tuple 
len(tuple3)

7

In [53]:
# Tuple Basic Operations 
# Repeating tuple elements
tuple4 = (21,2,1989)
print(tuple4)
print(tuple4*2) # repeating tuple using * sign

(21, 2, 1989)
(21, 2, 1989, 21, 2, 1989)

In [54]:
# Repeating and Concatnating 
tuple5  = tuple4 *3 
print(tuple5)

(21, 2, 1989, 21, 2, 1989, 21, 2, 1989)

In [55]:
tuple6 = (16,8,1989) *3
print(tuple6)

(16, 8, 1989, 16, 8, 1989, 16, 8, 1989)

In [56]:
tuple7 = tuple5+ tuple6
print(tuple7)

(21, 2, 1989, 21, 2, 1989, 21, 2, 1989, 16, 8, 1989, 16, 8, 1989, 16, 8, 1989)

In [57]:
# Min and Max Function in Tuple 
print(tuple7)
print(min(tuple7))
print(max(tuple7))

(21, 2, 1989, 21, 2, 1989, 21, 2, 1989, 16, 8, 1989, 16, 8, 1989, 16, 8, 1989)
2
1989

#### List[]

1. List is an ordered collection of elements enclosed within []
2. Unlike tuples, Lists are mutable in nature i.e. once created; you can modified them.

In [58]:
list1 = [81, False, "Sardar Patel", 5.3]
print(list1)

[81, False, 'Sardar Patel', 5.3]

In [59]:
# Extracting elements or sequence of elements from a list 

# Example 
print(list1)

# Extract elements 
print(list1[3])
print(list1[0])

# Extract 2 and 3 element from the list 
print(list1[1:3]) # Note that end index position no excluded while extracting elements

[81, False, 'Sardar Patel', 5.3]
5.3
81
[False, 'Sardar Patel']

In [60]:
# Modifying a list 
# changing value on index 1 
print(list1)
list1[1] = True
print(list1)

[81, False, 'Sardar Patel', 5.3]
[81, True, 'Sardar Patel', 5.3]

In [61]:
# append new element in existing list 
print(list1)
list1.append("First Home Minister of India")
print(list1)

[81, True, 'Sardar Patel', 5.3]
[81, True, 'Sardar Patel', 5.3, 'First Home Minister of India']

In [62]:
# Removing element from the list
print(list1)
list1.pop(0) # this removed the index position value from the list

[81, True, 'Sardar Patel', 5.3, 'First Home Minister of India']

81

In [63]:
# if you dont specify the index position it will automatically remove the last element from the index
print(list1)
list1.pop()
print(list1)

[True, 'Sardar Patel', 5.3, 'First Home Minister of India']
[True, 'Sardar Patel', 5.3]

In [64]:
print(list1)

[True, 'Sardar Patel', 5.3]

In [65]:
list2 = ["India", "Home Minister", " Sardar Patel" , 1950]

In [66]:
list2

['India', 'Home Minister', ' Sardar Patel', 1950]

In [67]:
# Reversing the elements of list 
list2.reverse()
print(list2)

[1950, ' Sardar Patel', 'Home Minister', 'India']

In [68]:
# Sorting the list 
'''
list2.sort() # this function will run only if all the elements with the list are of same type
'''

'\nlist2.sort() # this function will run only if all the elements with the list are of same type\n'

In [69]:
list3 = [100, 340, 343, 531, 200]
list3

[100, 340, 343, 531, 200]

In [70]:
list3.sort()

In [71]:
list3

[100, 200, 340, 343, 531]

In [72]:
# Inserting element at a specific location 
list2

[1950, ' Sardar Patel', 'Home Minister', 'India']

In [73]:
list2.insert(3, "in")

In [74]:
list2.reverse()

In [75]:
list2

['India', 'in', 'Home Minister', ' Sardar Patel', 1950]

In [76]:
# Concatnating and Repeating elements in List
# concat
list4 = [16,8,1989]
list5 = [21,2,1989]
print(list4)
print(list5)

[16, 8, 1989]
[21, 2, 1989]

In [77]:
list6 =list5 + list4
print(list6)

[21, 2, 1989, 16, 8, 1989]

In [78]:
# Repeating list

list7 = list5 * 2 + list4 *3
print(list7)

[21, 2, 1989, 21, 2, 1989, 16, 8, 1989, 16, 8, 1989, 16, 8, 1989]

#### Dictionary{}

1. Dictionary is an unordered collection of key-value pair enclosed with {}
2. Dictionary is mutable in nature i.e. once created; you can modified them.

In [79]:
# syntax - Dic1 = {key1:value1, key2:value2}
Dict1 = {"apple":50, "mango":100, "guava":200, "banana": 500}
Dict1

{'apple': 50, 'mango': 100, 'guava': 200, 'banana': 500}

In [80]:
type(Dict1)

dict

In [81]:
# Extract Keys from Dictionary
Dict1.keys()

dict_keys(['apple', 'mango', 'guava', 'banana'])

In [82]:
# Extract Values from Dictionary
Dict1.values()

dict_values([50, 100, 200, 500])

In [83]:
# Modifying Values Within the Dictionary
Dict1

{'apple': 50, 'mango': 100, 'guava': 200, 'banana': 500}

In [84]:
Dict1["orange"]=15

In [85]:
Dict1

{'apple': 50, 'mango': 100, 'guava': 200, 'banana': 500, 'orange': 15}

In [86]:
Dict1["banana"]=50
Dict1

{'apple': 50, 'mango': 100, 'guava': 200, 'banana': 50, 'orange': 15}

In [87]:
# Using Function in Dictionary
Dict1

{'apple': 50, 'mango': 100, 'guava': 200, 'banana': 50, 'orange': 15}

In [88]:
Dict2 = {"pinapple": 150, "watermelon": 120, "chiku": 170}
Dict2

{'pinapple': 150, 'watermelon': 120, 'chiku': 170}

In [89]:
Dict1.update(Dict2) # this will update Dictionary Dict1 by adding Dict2 within it

In [90]:
Dict1

{'apple': 50,
 'mango': 100,
 'guava': 200,
 'banana': 50,
 'orange': 15,
 'pinapple': 150,
 'watermelon': 120,
 'chiku': 170}

In [91]:
# Remove a key value from the existing Dictionary
Dict1.pop("guava")

200

In [92]:
Dict1

{'apple': 50,
 'mango': 100,
 'banana': 50,
 'orange': 15,
 'pinapple': 150,
 'watermelon': 120,
 'chiku': 170}

##### If Statement

It is a conditional statement. 

    if(condition){
    ### if condition is true then
    "this statement will be executed" 
    }
    else{
    ### if condition is false then 
    "this statement will be executed"
    }

In [93]:
a = 10
b = 20
a , b

(10, 20)

In [94]:
# now we want to evaluate if variable a is greater than variable b
if a>b:
    print("a is greater than b") # this indentation is very important to successfully execute if else statement
    
# the above statement will be blank a this is the false condition and we have not mentioned any output for the false statement 
# so it is important to put else condition if you want to return false statement output

In [95]:
# now we want to evaluate if variable a is greater than variable b
if a>b:
    print("a is greater than b") # this indentation is very important to successfully execute if else statement
else:
    print("a is not greater than b")

a is not greater than b

In [96]:
c = 30 
c

30

In [97]:
# multi-condition evaluation(using logical Operator) -  let us try to evaluate 3 variables condition in if else using nested if else
if (a>b) & (a>c):
    print("a holding greatest value in it") 
    #if you execute state till here it will return nothing as a is holding smallest value 
elif (b>a) & (b>c):
    print("b holding greatest value in it") 
else:
    print("c holding greatest value in it")

c holding greatest value in it

In [98]:
a,b,c

(10, 20, 30)

In [99]:
# Using if else to evalute if value is present in tuple or dictionary
tuple8 = ("apple","orange","banana","mango")

In [100]:
tuple8

('apple', 'orange', 'banana', 'mango')

In [101]:
# tuple - if else evaluate
if "mango" in tuple8:
    print("Mango is present in the tuple8")

Mango is present in the tuple8

In [102]:
if "pinapple" in tuple8:
    print("Pinapple is present in the tuple8")
else:
    print("Pinapple is not present in the tuple8")

Pinapple is not present in the tuple8

In [103]:
Dict4 = { "mango": 80, "orange": 150, "apple": 200, "banana": 60}
Dict4

{'mango': 80, 'orange': 150, 'apple': 200, 'banana': 60}

In [104]:
# Dictionary - if else evaluate
if "apple" in Dict4:
    print("Apple is present in the Dict4")

Apple is present in the Dict4

In [105]:
if "guava" in Dict4:
    print("Guava is present in the Dict4")
else:
    print("Guava is not present in the Dict4")

Guava is not present in the Dict4

In [106]:
# List - if else evaluate
list8 = ["apple", "orange", "pinapple", "watermelon"]
list8

['apple', 'orange', 'pinapple', 'watermelon']

In [107]:
if "orange" in list8:
    print("orange is present in list8")

orange is present in list8

In [108]:
if "banana" in list8:
    print("banana is present in list8")
else:
    print("banana is not present in list8")

banana is not present in list8

In [109]:
# using if else to modify the list 
if list8[2] == "orange":
    print("yes, orange is on second position. you can update it")
    list8[2]="banana"
else:
    print("yes, orange is not on second position. you can not update it")

yes, orange is not on second position. you can not update it

In [110]:
list8

['apple', 'orange', 'pinapple', 'watermelon']

In [111]:
# using if else to modify the list 
if list8[1] == "orange":
    print("yes, orange is on second position. you can update it")
    list8[1]="banana"
else:
    print("yes, orange is not on second position. you can not update it")

yes, orange is on second position. you can update it

In [112]:
list8

['apple', 'banana', 'pinapple', 'watermelon']

In [113]:
# using if else to modify dictionary
Dict4

{'mango': 80, 'orange': 150, 'apple': 200, 'banana': 60}

In [114]:
if Dict4["apple"]==200:
    Dict4["apple"]=200 + (200 * 0.10) # if the condition true then increase the price by 10%

In [115]:
Dict4

{'mango': 80, 'orange': 150, 'apple': 220.0, 'banana': 60}

##### Looping Statement
    1. Looping statement are used to repeat a tak multiple times 
    2. Keep repeating the task untill and unless a specific condition is met

In [116]:
## While Loop
# In while loop specific condition is checked and till the time that condition is true the statement will execute else stop

In [117]:
i = 1
while i<=10: # condition
    print(i)  #statement to be executed 
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [118]:
i=1 
while i/2<=3:
    print(i)
    i=i+1

1
2
3
4
5
6

In [119]:
i = 1 
n = 2
while i<=10:
    print(i*n)
    i = 1+i

2
4
6
8
10
12
14
16
18
20

In [120]:
list9 = [1,2,3,4,5]
list9

[1, 2, 3, 4, 5]

In [121]:
i = 0

In [122]:
while i<= 4:
    list9[i] = list9[i]*2
    i = i + 1

In [123]:
list9

[2, 4, 6, 8, 10]

##### For Loop 
- for loop is used to iterate over a sequence(tuple, list, dictionary..)

In [124]:
list10 = ["orange", "mango", "apple", "banana"]
list10

['orange', 'mango', 'apple', 'banana']

In [125]:
for i in list10:
    print(i)

orange
mango
apple
banana

In [126]:
list11 = list(range(1,21))

In [127]:
list11

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [128]:
# list all the numbers in the list divisible by 2 
for i in list11:
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20

In [129]:
tuple9 = tuple(range(0,51))
tuple9

(0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50)

In [130]:
# print all the values in the tuple which are divisible by 5
for i in tuple9:
    if i%5==0:
        print(i)

0
5
10
15
20
25
30
35
40
45
50

In [131]:
list12 = ["orange","black", "white"]
list13 = ["chair", "book", "laptop"]
list12, list13

(['orange', 'black', 'white'], ['chair', 'book', 'laptop'])

In [132]:
for i in list12:
    for j in list13:
        print(i,"-",j)

orange - chair
orange - book
orange - laptop
black - chair
black - book
black - laptop
white - chair
white - book
white - laptop

In [133]:
tuple10 = tuple(range(1,6))
tuple11 = tuple(range(1000,1006))
tuple10, tuple11

((1, 2, 3, 4, 5), (1000, 1001, 1002, 1003, 1004, 1005))

In [134]:
for i in tuple11:
    for j in tuple10:
        print(i,"/",j," = ", i/j)

1000 / 1  =  1000.0
1000 / 2  =  500.0
1000 / 3  =  333.3333333333333
1000 / 4  =  250.0
1000 / 5  =  200.0
1001 / 1  =  1001.0
1001 / 2  =  500.5
1001 / 3  =  333.6666666666667
1001 / 4  =  250.25
1001 / 5  =  200.2
1002 / 1  =  1002.0
1002 / 2  =  501.0
1002 / 3  =  334.0
1002 / 4  =  250.5
1002 / 5  =  200.4
1003 / 1  =  1003.0
1003 / 2  =  501.5
1003 / 3  =  334.3333333333333
1003 / 4  =  250.75
1003 / 5  =  200.6
1004 / 1  =  1004.0
1004 / 2  =  502.0
1004 / 3  =  334.6666666666667
1004 / 4  =  251.0
1004 / 5  =  200.8
1005 / 1  =  1005.0
1005 / 2  =  502.5
1005 / 3  =  335.0
1005 / 4  =  251.25
1005 / 5  =  201.0

### Functions

When you want or do a task is called function. A block of codes which perform a specific task. 
Online Banking or Depositing money through ATM( Same method to deposit money in Bank can be called as function)

In [135]:
# creating a function 
def hello(): # here def - means definition
    print("Hello World Function")

In [136]:
# execute or invoking a function
hello()

Hello World Function

In [137]:
# creating parameterized function
def add10(x):
    print(x+10)

In [138]:
add10(10)

20

In [139]:
def odd_check(x):
    if x%2==0:
        print(x, "is even number")
    else:
        print(x ,"is odd number")

In [140]:
odd_check(21)

21 is odd number

In [141]:
odd_check(10)

10 is even number

In [142]:
# lambda function - anonymus function - has no name and no need to define it - we can write just 1 line and return the req results
v1 = lambda x: x*x 
# it is normally used along with other function and they are called as filter, map and reduce functions

In [143]:
# invoking lambda function
v1(10)

100

In [144]:
# lambda with filter - if you want to filter some values from a sequence such as list, tuple or dictionary then we use filter 
list14 = list(range(1,10))
list14

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [145]:
# filter(lambda function , list which you want to filter)
list15 = list(filter(lambda x : x>4 , list14)) # this lambda function with filter will filter values from the list14 where val>4

In [146]:
list15

[5, 6, 7, 8, 9]

In [147]:
# lambda with map 
list16 = list(range(1,8))
list16

[1, 2, 3, 4, 5, 6, 7]

In [148]:
# map function - helps to map/repeat a specific task to every element - sequence of element
# map(lambda function, list)
list17 = list(map(lambda x: x *2, list16))

In [149]:
list17

[2, 4, 6, 8, 10, 12, 14]

In [150]:
# lambda with reduce function 
# reduce can be extracted from func tools
from functools import reduce

In [151]:
list18 = list(range(1,10))
list18

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [152]:
# reduce - when you want a consolidate result - reduce the out and get a consolidated output
# reduce(lambda function, list)

out1 = reduce(lambda x,y : x+y, list18)

In [153]:
out1

45

In [158]:
#filter with lambda
out2 = list(filter(lambda x: x<5, list18))
out2

[1, 2, 3, 4]

In [160]:
# map with lambda 
out3  = list(map(lambda x : x**2, list18))
out3

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [170]:
# reduce with lambda
out4 = reduce(lambda x,y : x/y, list18)
out4

2.7557319223985893e-06

#### Object Oriented Programming

- We are surrounded with the objects in this real world entity. 
- We use OOP when we want to make use of real world objects in programming to perform a particular or set of task.
- In OOP, there are two important concepts:
1. Object -  We have already learnt what is object.
2. Classes 

- Let us understand what is class? A class is nothing but a template for real world entities with two imp features:
-  Example - Phone 
1. Properties - color, cost, battery life
2. Behaviour - make calls, watch videos, play games 

- Class is nothing but a user defined data types. here mobile/phone can be called a User Defined Data Type

- Object - Objects are specific instances of a class
- An object can be called as specific instance of a class. for example CAR can be called a class in which maruti can be called as object which is an specific instance of a class CAR; similarly Honda can be called a object which is an instance of a class CAR.

- In our example of Phone is a class - apple, motorola and lenova can be called a object which is an instance of class Phone

In [ ]:
# Creating a Class

In [174]:
#name of the class always start with Capital Letter
class Phone: 
        # here self is an inbuilt parameter which is used to invoke method of class. It is important to create self as first parameter in any class     
    def make_call(self): 
        print("Making a Call")
        
    def play_game(self):
        print("Start and play game")

In [175]:
oob1 = Phone() # instantiating oob1 object

In [176]:
oob1.make_call() # invoking methods through an instantiated object

Making a Call

In [177]:
oob1.play_game()

Start and play game

In [180]:
# you can directly invoke method through the class name as well
Phone().make_call() 
Phone().play_game()

Making a Call
Start and play game

In [202]:
# Create another class
    
class Print_New: 
    def print1(self, var1):
        self.var1 = var1 # assign var1 to self to call var1 of an object print1 through class print_new
    
    def show_print1(self):
        return self.var1

In [203]:
oob2 = Print_New()

In [207]:
oob2.print1("This is a Class to Print this sentance using parameterized method")

In [208]:
oob2.show_print1()

'This is a Class to Print this sentance using parameterized method'

In [252]:
# Creating CAR Class with objects
class Car:
    
    def set_car_color(self, car_color):
        self.car_color = car_color
    
    def set_car_seats(self, car_seats):
        self.car_seats = car_seats
        
    def set_car_name(self, car_name):
        self.car_name = car_name
        
    def set_country_origin(self, country_origin):
        self.country_origin = country_origin
        
    def show_country_origin_details(self):
        return self.country_origin

    def show_car_name_details(self):
        return self.car_name

    def show_car_color_details(self):
        return self.car_color

    def show_car_seats_details(self):
        return self.car_seats
    
    def show_all_together(self):
        print("origin country name is",self.country_origin)

        print("car name is",self.car_name)

        print("car color is",self.car_color)

        print("car total seats are",self.car_seats)

In [253]:
oob3 = Car()

In [254]:
oob3.set_country_origin("India")
oob3.set_car_seats("8 seater")
oob3.set_car_name("Maruti")
oob3.set_car_color("Red")

In [255]:
print("origin country name is",oob3.show_country_origin_details())

print("car name is",oob3.show_car_name_details())

print("car color is",oob3.show_car_color_details())

print("car total seats are",oob3.show_car_seats_details())

origin country name is India
car name is Maruti
car color is Red
car total seats are 8 seater

In [256]:
oob3.show_all_together()

origin country name is India
car name is Maruti
car color is Red
car total seats are 8 seater

In [258]:
# Creating a class with Contructor 
# With Constructor method (__init__)we can define or assign values at the time of object creation 

class Car:
    
    def __init__(self, origin, color, seats, brand):
        self.origin = origin
        self.color = color 
        self.seats = seats 
        self.brand = brand
        
    def show_car_details(self):
        print("car origin country is", self.origin)
        print("car color is", self.color)
        print("car total seats are", self.seats)
        print("car brand name is", self.brand)

In [259]:
oob4 = Car("Japan","White","5","Honda") # instantiating the object oob4

In [260]:
oob4.show_car_details() # invoke show_car_details method using the object

car origin country is Japan
car color is White
car total seats are 5
car brand name is Honda

- In a nutshell -  we can clearly see that with OOP, we are creating a template in which we are defining various properties and behaviour (in our example CAR -  properties and behaviour) and after that instantiating the class through an object and invoking various method to output what we need.

#### Inheritance in Python

 - One class can derive the properties from other class. The class (Child) which is deriving properties from the other(Parent) is class.
 - Man is deriving genetic features/properties from its Father 
 - Super Class is called as Parent Class 
 - Sub Class is called as Child Class
 
 - When invoking Sub Class, we can invoke all the methods from Super Calls as well without calling them in a template

In [289]:
# Example Super Class For Inheritance

class Car_Old:
    
    def set_car_color(self, color):
        self.color = color 
        
    def set_car_milage(self, milage):
        self.milage = milage

    def show_old_car_details(self):
        print("car color was", self.color)
        print("car milage was", self.milage)

In [290]:
oob5 = Car_Old()

In [291]:
oob5.set_car_color("White")
oob5.set_car_milage(35)

In [292]:
oob5.show_old_car_details()

car color was White
car milage was 35

In [307]:
# Creating Sub Class and Calling Features of Super Class

class Car_New(Car_Old):
# we can create init in super class as well however we have created here just to instantiate the object parameter 

    def __init__(self, color, milage):
        self.color = color 
        self.milage = milage
    
    def set_new_color(self, new_color):
        self.new_color = new_color 
        
    def set_new_milage(self, new_milage):
        self.new_milage = new_milage

    def show_new_car_details(self):
        print("new car color was", self.new_color)
        print("new car milage was", self.new_milage)

In [308]:
oob6 = Car_New("White",35)

In [309]:
oob6.set_new_color("Red")
oob6.set_new_milage(45)

In [310]:
print(oob6.show_new_car_details())

new car color was Red
new car milage was 45
None

In [311]:
print(oob6.show_old_car_details()) # Instantiating an method of super class from child class object.

car color was White
car milage was 35
None

In [319]:
#### Over-riding init method 

# Super Class Example
class Car1:
    def __init__(self, color, max_speed):
        self.color = color 
        self.max_speed = max_speed
        
    def show_basic_features(self):
        print("color of car is", self.color)
        print("maximum speed of car is", self.max_speed)

In [321]:
oob7 = Car1("White", 90)

In [322]:
oob7.show_basic_features()

color of car is White
maximum speed of car is 90

In [323]:
# Child Class over riding example 

class Car2(Car1):
    def __init__(self, color, max_speed, milage, hp):
        super().__init__(color,max_speed)
        self.milage = milage
        self.hp = hp
        
    def show_new_car_details(self):
        print("milage of car is", self.milage)
        print("hp in the car is", self.hp)

In [324]:
oob8 = Car2("Red", 120, 45, 100)

In [325]:
oob8.show_new_car_details() # Child class method calling

milage of car is 45
hp in the car is 100

In [326]:
oob8.show_basic_features() # Parent/super Class -  method calling

color of car is Red
maximum speed of car is 120

#### Types of Inheritance in Python:

1. Single Inheritance - a sub class inherit features from only one super class
2. Multiple Inheritance - a sub class inherit features from more than one super class
3. Multi-Level Inheritance - - There is parent- child - grand child relationship in this kind of method  
4. Hybrid Inheritance

In [337]:
# Multiple Inheritance 

class P1:
    def show_p1_details():
        print("This is parent 1 Class")

In [339]:
class P2:
    def show_p2_details():
        print("This is parent 2 Class")

In [349]:
class Child1(P1,P2):
    def show_child1_details():
        print("This is child Class")

In [342]:
oob9 = P1

In [343]:
oob9.show_p1_details()

This is parent 1 Class

In [344]:
oob10 = P2

In [345]:
oob10.show_p2_details()

This is parent 2 Class

In [350]:
oob11 = Child1

In [351]:
oob11.show_child1_details()

This is child Class

In [354]:
#Inheriting features from P1 and P2 calling methods from both the Super Class/ Parent Class
print(oob11.show_p1_details())

print(oob11.show_p2_details())

This is parent 1 Class
None
This is parent 2 Class
None

In [384]:
# Multi-Level Inherirance

# Parent Class

class Parent:
    def parent_age(self, parent_age):
        self.parent_age = parent_age
        
    def show_parent_age(self):
        print("parent age is", self.parent_age)

In [385]:
oob12 = Parent()

In [386]:
oob12.parent_age(67)

In [387]:
oob12.show_parent_age()

parent age is 67

In [388]:
# Child Class with Parent Details

class Child(Parent):
    
    def child_age(self, child_age):
        self.child_age=child_age
        
    def show_child_age(self):
        print("child age is", self.child_age)

In [389]:
oob13 = Child()

In [390]:
oob13.child_age(32)

In [391]:
oob13.parent_age(67)

In [392]:
print(oob13.show_parent_age()) # calling parent class method using child instantiated object
print(oob13.show_child_age())

parent age is 67
None
child age is 32
None

In [393]:
# Grand Child Class

class GrandChild(Child):
    
    def grand_child_age(self, grand_child_age):
        self.grand_child_age=grand_child_age
        
    def show_grand_child_age(self):
        print("child age is", self.grand_child_age)

In [394]:
oob14 = GrandChild()

In [395]:
oob14.parent_age(67)
oob14.child_age(32)
oob14.grand_child_age(7)

In [396]:
print(oob14.show_parent_age()) # calling parent class method using grand child instantiated object
print(oob14.show_child_age()) # calling parent class method using grand child instantiated object
print(oob14.show_grand_child_age())

parent age is 67
None
child age is 32
None
child age is 7
None